/* Regole di reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-transform: none;
}

ul {
    list-style-type: none;
}

/* Utils */

.debug {
    min-height: 100px;
    padding: 5px;
    background-color: rgb(105, 52, 52);
    border: 2px dashed red;
}


.container {
    /* max-width: 1100px; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}


/* PAGE */


body {
    background-color: #f6f5f3;
}


h1 {

    background-color: white;
    color: orange;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.dessert {
    color: #999999;
    margin-top: 30px;
    margin-left: 30px;
}

.tiramisu {
    color: #4e3969;
    margin-top: 10px;
    margin-left: 30px;
}
