/* Regole di reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-transform: none;
}

ul {
    list-style-type: none;
}

/* Utils */

.debug {
    min-height: 100px;
    padding: 5px;
    background-color: rgb(105, 52, 52);
    border: 2px dashed red;
}


.container {
    /* max-width: 1100px; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}


/* PAGE */


body {
    background-color: #f6f5f3;
}


h1 {

    background-color: white;
    color: orange;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.dessert {
    color: #999999;
    margin-top: 30px;
    margin-left: 30px;
}

.tiramisu {
    color: #4e3969;
    margin-top: 10px;
    margin-left: 30px;
}


.image-youtube{
    margin: 0 30px;
    margin-top: 20px;
}


.info-ricetta{

    gap: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px; }


    .social-container {
     display: flex;
     gap: 30px;
     display: flex;
    justify-content: center;
    height: 100px;
    background-color: #f8f6f3;
    margin-top: 20px;
    }
    
    .social-icon {
        width: 70px;
        height: 70px;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        
    }
    
    
